.env
.idea
.notes
.php-cs-fixer.cache
.php_cs.cache
.phpunit.result.cache
.vagrant
composer
config/autoload/local.php
data/DoctrineORMModule/*
docker/mysql/data
docker/php-apache/logs
note.*
vendor/*
