parameters:
    level: 6
    parallel:
        processTimeout: 180.0
    fileExtensions:
        - php
    paths:
        - %currentWorkingDirectory%/module
    ignoreErrors:
        - '/Access to an undefined property Laminas\\Session\\Container::\$settings\./'
        - '/Access to an undefined property Laminas\\Session\\Container::\$surname\./'
        - '/Access to protected property Laminas\\Session\\Container::\$name\./'
        - '/Call to an undefined method Laminas\\EventManager\\EventInterface::getApplication\(\)\./'
        - '/Call to an undefined method Laminas\\EventManager\\EventInterface::getResponse\(\)\./'
        - '/Call to an undefined method Laminas\\EventManager\\EventInterface::getRouteMatch\(\)\./'
        - '/Call to an undefined method Laminas\\EventManager\\EventInterface::getRouter\(\)\./'
        - '/Call to an undefined method Laminas\\Form\\ElementInterface::setDisableInArrayValidator\(\)\./'
        - '/Call to an undefined method Laminas\\Form\\ElementInterface::setValueOptions\(\)\./'
        - '/Call to an undefined method Laminas\\Stdlib\\RequestInterface::getPost\(\)\./'
        - '/Call to an undefined method Laminas\\Stdlib\\RequestInterface::getServer\(\)\./'
        - '/Call to an undefined method Laminas\\Stdlib\\RequestInterface::isPost\(\)\./'
        - '/Call to an undefined method Laminas\\Stdlib\\ResponseInterface::getHeaders\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::\w+\(\)\./'
        - '/Method Auth\\Controller\\RegistrationController::prepareData\(\) return type has no value type specified in iterable type array\./'
        - '/Method Auth\\Controller\\UserController::changePasswordAction\(\) has no return typehint specified\./'
        - '/Method Auth\\Controller\\UserController::updateAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccantonatoController::addAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccantonatoController::deleteAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccantonatoController::editAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccountController::addAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccountController::editAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\CategoriaController::addAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\CategoriaController::editAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\MovementController::accountAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\MovementController::addAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\MovementController::editAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\MovementController::moveAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Form\\MoveForm::setAccountOptions\(\) return type has no value type specified in iterable type \$this\(MoneyLog\\Form\\MoveForm\)\./'
        - '/Method MoneyLog\\Module::getAutoloaderConfig\(\) return type has no value type specified in iterable type array\./'
        - '/Method MoneyLog\\Module::getConfig\(\) return type has no value type specified in iterable type array\./'
        - '/Method MoneyLog\\Module::getServiceConfig\(\) return type has no value type specified in iterable type array\./'
        - '/Method \w+\\Controller\\\w+Controller::\w+Action\(\) return type has no value type specified in iterable type Laminas\\View\\Model\\ViewModel\./'
        - '/Method Authorize\\Acl\\Acl::__construct\(\) has parameter \$config with no value type specified in iterable type array\./'
        - '/Method Authorize\\Acl\\Acl::_addResources\(\) has parameter \$resources with no value type specified in iterable type array\./'
        - '/Method Authorize\\Acl\\Acl::_addRoles\(\) has parameter \$roles with no value type specified in iterable type array\./'
        - '/Method Authorize\\Module::getConfig\(\) return type has no value type specified in iterable type array\./'
        - '/Method Authorize\\Module::getAutoloaderConfig\(\) return type has no value type specified in iterable type array\./'
        - '/Method Auth\\Service\\UserData::getSettings\(\) return type has no value type specified in iterable type array\./'
        - '/Property Auth\\Service\\UserData::\$data type has no value type specified in iterable type Laminas\\Session\\Container\./'
        - '/Method Auth\\Service\\Factory\\AuthenticationServiceFactory::__invoke\(\) has parameter \$options with no value type specified in iterable type array\./'
