parameters:
    level: 6
    parallel:
        processTimeout: 180.0
    fileExtensions:
        - php
    paths:
        - %currentWorkingDirectory%/module
    ignoreErrors:
        - '/Access to an undefined property Laminas\\Session\\Container::\$settings\./'
        - '/Access to an undefined property Laminas\\Session\\Container::\$surname\./'
        - '/Access to protected property Laminas\\Session\\Container::\$name\./'
        - '/Call to an undefined method Laminas\\EventManager\\EventInterface::getApplication\(\)\./'
        - '/Call to an undefined method Laminas\\EventManager\\EventInterface::getResponse\(\)\./'
        - '/Call to an undefined method Laminas\\EventManager\\EventInterface::getRouteMatch\(\)\./'
        - '/Call to an undefined method Laminas\\EventManager\\EventInterface::getRouter\(\)\./'
        - '/Call to an undefined method Laminas\\Form\\ElementInterface::setDisableInArrayValidator\(\)\./'
        - '/Call to an undefined method Laminas\\Form\\ElementInterface::setValueOptions\(\)\./'
        - '/Call to an undefined method Laminas\\Stdlib\\RequestInterface::getPost\(\)\./'
        - '/Call to an undefined method Laminas\\Stdlib\\RequestInterface::getServer\(\)\./'
        - '/Call to an undefined method Laminas\\Stdlib\\RequestInterface::isPost\(\)\./'
        - '/Call to an undefined method Laminas\\Stdlib\\ResponseInterface::getHeaders\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::currencyFormat\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::escapeHtml\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::formCheckbox\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::formElementErrors\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::formInput\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::formLabel\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::formSelect\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::headTitle\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::inlineScript\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::richInlineScript\(\)\./'
        - '/Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::url\(\)\./'
        - '/Method Application\\Controller\\PageController::offlineAction\(\) return type has no value type specified in iterable type Laminas\\View\\Model\\ViewModel\./'
        - '/Method Application\\Controller\\PageController::privacyPolicyAction\(\) return type has no value type specified in iterable type Laminas\\View\\Model\\ViewModel\./'
        - '/Method MoneyLog\\Controller\\AccantonatoController::addAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccantonatoController::deleteAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccantonatoController::editAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccantonatoController::indexAction\(\) return type has no value type specified in iterable type Laminas\\View\\Model\\ViewModel\./'
        - '/Method MoneyLog\\Controller\\AccountController::addAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccountController::editAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\AccountController::indexAction\(\) return type has no value type specified in iterable type Laminas\\View\\Model\\ViewModel\./'
        - '/Method MoneyLog\\Controller\\CategoriaController::addAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\CategoriaController::editAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\CategoriaController::indexAction\(\) return type has no value type specified in iterable type Laminas\\View\\Model\\ViewModel\./'
        - '/Method MoneyLog\\Controller\\MovementController::accountAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\MovementController::addAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\MovementController::editAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\MovementController::exportAction\(\) return type has no value type specified in iterable type Laminas\\View\\Model\\ViewModel\./'
        - '/Method MoneyLog\\Controller\\MovementController::moveAction\(\) has no return typehint specified\./'
        - '/Method MoneyLog\\Controller\\RecapController::indexAction\(\) return type has no value type specified in iterable type Laminas\\View\\Model\\ViewModel\./'
        - '/Method MoneyLog\\Controller\\SettingsController::indexAction\(\) return type has no value type specified in iterable type Laminas\\View\\Model\\ViewModel\./'
        - '/Method MoneyLog\\Form\\MoveForm::setAccountOptions\(\) return type has no value type specified in iterable type \$this\(MoneyLog\\Form\\MoveForm\)\./'