<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./module/Application/src</directory>
      <directory>./module/Auth/src</directory>
      <directory>./module/Authorize/src</directory>
      <directory>./module/MoneyLog/src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Application">
      <directory>./module/Application/test</directory>
    </testsuite>
    <testsuite name="Auth">
      <directory>./module/Auth/test</directory>
    </testsuite>
    <!-- testsuite name="Authorize">
      <directory>./module/Authorize/test</directory>
    </testsuite -->
    <testsuite name="MoneyLog">
      <directory>./module/MoneyLog/test</directory>
    </testsuite>
  </testsuites>
</phpunit>
