<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="Auth">
            <directory>./module/Auth/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./module/Application/src</directory>
        </whitelist>
    </filter>
</phpunit>
